 <app-header></app-header>

 <main>
   <app-breadcrumb title="Резултати от търсене" subtitle="Намерени продукти"></app-breadcrumb>

   <!-- shop area start -->
  <section class="tp-shop-area pb-120">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <div class="tp-shop-main-wrapper">
            <div class="tp-shop-top mb-45">
              <div class="row">
                <div class="col-xl-6">
                  <div class="tp-shop-top-left d-flex align-items-center">
                    <div class="tp-shop-top-result">
                      <p>
                        Показване 1–{{ products.length > perView ? perView : products.length }} от {{ products.length }} резултати
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="tp-shop-top-select text-md-end">
                    <app-nice-select
                    [options]="selectOptions"
                    name="Default Sorting"
                    [defaultCurrent]="0"
                    (onChange)="changeFilterSelect($event)"
                    placeholder="Default Sorting"
                    class="d-flex justify-content-end"
                  ></app-nice-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="tp-shop-items-wrapper tp-shop-item-primary">
              <div>
                <div class="row infinite-container">
                  <div *ngFor="let item of products.slice(0, perView)" class="col-xl-4 col-md-6 col-sm-6 infinite-item">
                    <app-product-item-large [product]="item" [spacing]="true"></app-product-item-large>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button *ngIf="perView < products.length" (click)="handlePerView()" type="button" class="btn-loadmore tp-btn tp-btn-border tp-btn-border-primary">
              Load More Products
            </button>
            <p *ngIf="perView >= products.length" class="btn-loadmore-text">Край на резултати</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- shop area end -->
 </main>

 <!-- footer start -->
<app-footer></app-footer>
<!-- footer end -->
