<app-header></app-header>
<app-breadcrumb title="Количка" subtitle="Количка"></app-breadcrumb>

<section class="tp-cart-area pb-120">
  <div class="container">
    <div *ngIf="cartService.getCartProducts().length === 0" class="text-center pt-50">
      <h3>Няма продукти в количката</h3>
      <a routerLink="/shop" class="tp-cart-checkout-btn mt-20">Пазаруване</a>
    </div>
    <div *ngIf="cartService.getCartProducts().length > 0" class="row">
      <div class="col-xl-9 col-lg-8">
        <div class="tp-cart-list mb-25 mr-30">
          <table>
            <thead>
              <tr>
                <th colspan="2" class="tp-cart-header-product">Продукт</th>
                <th class="tp-cart-header-price">Цена</th>
                <th class="tp-cart-header-quantity">Количество</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartService.getCartProducts()">
                <td class="tp-cart-img">
                  <a [routerLink]="['/shop/shop-details', item.id]" style="background-color: #F2F3F5; display: block;">
                    <img [src]="item.imageUrl" alt="">
                  </a>
                </td>
                <td class="tp-cart-title">
                  <a [routerLink]="['/shop/shop-details', item.id]">{{ item.name }}</a>
                </td>
                <td class="tp-cart-price"><span>{{ cartService.getPriceForProductAsNumber(item).toFixed(2) }} лв.</span>
                </td>
                <td class="tp-cart-quantity">
                  <div class="tp-product-quantity mt-10 mb-10">
                    <span class="tp-cart-minus" (click)="cartService.quantityDecrement(item)">
                      <svg width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1H9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </span>
                    <input class="tp-cart-input" type="text" [value]="item.orderQuantity" />
                    <span class="tp-cart-plus" (click)="cartService.addCartProduct(item)">
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 1V9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path d="M1 5H9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </div>
                </td>
                <td class="tp-cart-action">
                  <button class="tp-cart-action-btn" (click)="cartService.removeCartProduct(item)">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9.53033 1.53033C9.82322 1.23744 9.82322 0.762563 9.53033 0.46967C9.23744 0.176777 8.76256 0.176777 8.46967 0.46967L5 3.93934L1.53033 0.46967C1.23744 0.176777 0.762563 0.176777 0.46967 0.46967C0.176777 0.762563 0.176777 1.23744 0.46967 1.53033L3.93934 5L0.46967 8.46967C0.176777 8.76256 0.176777 9.23744 0.46967 9.53033C0.762563 9.82322 1.23744 9.82322 1.53033 9.53033L5 6.06066L8.46967 9.53033C8.76256 9.82322 9.23744 9.82322 9.53033 9.53033C9.82322 9.23744 9.82322 8.76256 9.53033 8.46967L6.06066 5L9.53033 1.53033Z"
                        fill="currentColor"></path>
                    </svg>
                    <span> Премахване</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tp-cart-bottom mr-30">
          <div class="row align-items-end">
            <div class="col-xl-6 col-md-8">
              <div class="tp-cart-coupon">
                <form (ngSubmit)="handleCouponSubmit()">
                  <div class="tp-cart-coupon-input-box">
                    <label>Код за отстъпка:</label>
                    <div class="tp-cart-coupon-input d-flex align-items-center">
                      <input type="text" placeholder="Въведи код за отстъпка" [(ngModel)]="couponCode" name="couponCode">
                      <button type="submit">Приложи</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-xl-6 col-md-4">
              <div class="tp-cart-update text-md-end">
                <button (click)="cartService.clear_cart()" type="button" class="tp-cart-update-btn">Изчистване на
                  количката</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="tp-cart-checkout-wrapper">
          <div class="tp-cart-checkout-top d-flex align-items-center justify-content-between">
            <span class="tp-cart-checkout-top-title">Общо дължимо</span>
            <span class="tp-cart-checkout-top-price">
              {{ getTotalPrice().toFixed(2) }} лв.
            </span>
          </div>
          <div class="tp-cart-checkout-shipping">
            <h4 class="tp-cart-checkout-shipping-title">Доставка</h4>
            <div class="tp-cart-checkout-shipping-option-wrapper">
              <div *ngIf="cartService.totalPriceQuantity().total <= 100">

                <div class="tp-cart-checkout-shipping-option">
                  <input id="flat_rate" type="radio" name="shipping">
                  <label (click)="handleShippingCost(9)" for="flat_rate">Личен адрес: <span>9.00 лв.</span></label>
                </div>
                <div class="tp-cart-checkout-shipping-option">
                  <input id="local_pickup" type="radio" name="shipping">
                  <label (click)="handleShippingCost(5)" for="local_pickup">Офис на куриер: <span> 5.00 лв.</span></label>
                </div>
              </div>
              <div *ngIf="cartService.totalPriceQuantity().total > 100">
                <div class="tp-cart-checkout-shipping-option">
                  <input id="free_shipping" type="radio" name="shipping" checked>
                  <label (click)="handleShippingCost('free')" for="free_shipping">Безплатна</label>
                </div>
              </div>
            </div>
          </div>
          <div class="tp-cart-checkout-total d-flex align-items-center justify-content-between">
            <span>Общо дължимо</span>
            <span>{{ getTotalPrice().toFixed(2) }} лв.</span>
          </div>
          <div class="tp-cart-checkout-proceed">
            <a routerLink="/pages/checkout" class="tp-cart-checkout-btn w-100">Заплащане</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>