<div [ngClass]="['cartmini__area tp-all-font-roboto', cartService.isCartOpen ? 'cartmini-opened' : '']">
  <div class="cartmini__wrapper d-flex justify-content-between flex-column">
    <div class="cartmini__top-wrapper">
      <div class="cartmini__top p-relative">
        <div class="cartmini__top-title">
          <h4>Количка за пазаруване</h4>
        </div>
        <div class="cartmini__close">
          <button (click)="cartService.handleOpenCartSidebar()" type="button" class="cartmini__close-btn cartmini-close-btn">
            <i class="fal fa-times"></i>
          </button>
        </div>
      </div>
      <div class="cartmini__shipping">
      </div>
      <div *ngIf="cartService.getCartProducts().length > 0" class="cartmini__widget">
        <div *ngFor="let item of cartService.getCartProducts()" class="cartmini__widget-item">
          <div class="cartmini__thumb">
            <a [routerLink]="['/shop/product-details', item.id]">
              <img [src]="item.imageUrl" alt="cart-img" width="70" height="60" />
            </a>
          </div>
          <div class="cartmini__content">
            <h5 class="cartmini__title">
              <a [routerLink]="['/shop/product-details', item.id]">{{ item.name }}</a>
            </h5>
            <div class="cartmini__price-wrapper">
              <span *ngIf="item.orderQuantity && cartService.getPriceForProduct(item).discountPrice" class="cartmini__price">
                {{ (
                  (cartService.getPriceForProduct(item).discountPrice) * item.orderQuantity
                ).toFixed(2) }} лв.
              </span>
              <span *ngIf="!cartService.getPriceForProduct(item).discountPrice && item.orderQuantity" class="cartmini__price">
                {{ (cartService.getPriceForProduct(item).price * item.orderQuantity).toFixed(2) }} лв.
              </span>
              <span class="cartmini__quantity">{{ ' ' }}x{{ item.orderQuantity }}</span>
            </div>
          </div>
          <a (click)="cartService.removeCartProduct(item)" class="cartmini__del cursor-pointer">
            <i class="fa-regular fa-xmark"></i>
          </a>
        </div>
      </div>
      <!-- if no item in cart  -->
      <div *ngIf="cartService.getCartProducts().length === 0" class="cartmini__empty text-center">
        <img src="/assets/img/product/cartmini/empty-cart.png" alt="empty-cart-img" />
        <p>Your Cart is empty</p>
        <a routerLink="/shop" class="tp-btn">Пазаруване</a>
      </div>
    </div>
    <div *ngIf="cartService.getCartProducts().length > 0" class="cartmini__checkout">
      <div class="cartmini__checkout-title mb-30">
        <h4>Общо дължимо:</h4>
        <span>{{ cartService.totalPriceQuantity().total.toFixed(2) }} лв.</span>
      </div>
      <div class="cartmini__checkout-btn">
        <a routerLink="/pages/cart" (click)="cartService.handleOpenCartSidebar()" class="tp-btn mb-10 w-100">Към количката</a>
        <a routerLink="/pages/checkout" (click)="cartService.handleOpenCartSidebar()" class="tp-btn tp-btn-border w-100">Към плащане</a>
      </div>
    </div>
  </div>
</div>
<!-- overlay start  -->
<div (click)="cartService.handleOpenCartSidebar()" [ngClass]="['body-overlay', cartService.isCartOpen ? 'opened' : '']"></div>
<!-- overlay end  -->
