<div [ngClass]="['offcanvas__area offcanvas__radius', utilsService.openMobileMenus ? 'offcanvas-opened' : '']">
  <div class="offcanvas__wrapper">
    <div class="offcanvas__close">
      <button (click)="utilsService.handleOpenMobileMenu()" class="offcanvas__close-btn offcanvas-close-btn">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 1L1 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M1 1L11 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="offcanvas__content">
      <div class="offcanvas__top mb-70 d-flex justify-content-between align-items-center">
        <div class="offcanvas__logo logo">
          <a routerLink="/home/electronic">
            <img src="/assets/img/logo/logo.svg" alt="logo" />
          </a>
        </div>
      </div>
      <!-- mobile category start -->
      <!-- <header-component-mobile-categories :product-type="productType" /> -->
      <div class="offcanvas__category pb-40">
        <button (click)="toggleCategoryActive()" class="tp-offcanvas-category-toggle">
          <i class="fa-solid fa-bars"></i>
          Топ 3 категории
        </button>
        <div class="tp-category-mobile-menu">
          <nav [ngClass]="['tp-category-menu-content', isCategoryActive ? 'active' : '']">
            <ul [ngClass]="isCategoryActive ? 'active' : ''">
              <li *ngFor="let item of categoryItems" class="has-dropdown">
                <a class="cursor-pointer">
                  <span *ngIf="item.imageUrl">
                    <img [src]="item.imageUrl" alt="cate img" style="width: 50px; height: 50px; object-fit: contain" />
                  </span>
                  <span>{{ item.name }}</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="tp-main-menu-mobile fix d-lg-none mb-40">
        <!-- mobile menus start -->

        <nav class="tp-main-menu-content">
          <ul *ngFor="let menu of mobile_menu">
            <li *ngIf="menu.homes"
              [ngClass]="['has-dropdown has-mega-menu',isActiveMenu === menu.title ? 'dropdown-opened' : '']">
              <a [ngClass]="isActiveMenu === menu.title ? 'expanded' : '' ">
                НАЙ-Продавани
                <button (click)="handleOpenSubMenu(menu.title)"
                  [ngClass]="['dropdown-toggle-btn',isActiveMenu === menu.title ? 'dropdown-opened' : '']">
                  <i class="fa-regular fa-angle-right"></i>
                </button>
              </a>
              <div [ngClass]="['home-menu tp-submenu tp-mega-menu',isActiveMenu === menu.title ? 'active' : '']">
                <div class="row row-cols-1 row-cols-lg-4 row-cols-xl-5">
                  <div *ngFor="let home of menu.home_pages" class="col">
                    <div class="home-menu-item">
                      <a [routerLink]="home.link">
                        <div class="home-menu-thumb p-relative fix">
                          <img [src]="home.img" alt="home img" />
                        </div>
                        <div class="home-menu-content">
                          <h5 class="home-menu-title">{{ home.title }}</h5>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li *ngIf="menu.sub_menu" [ngClass]="['has-dropdown',isActiveMenu === menu.title ? 'dropdown-opened' : '']">
              <ng-container *ngIf="menu.sub_menus && menu.sub_menus.length > 0; else noSubMenus">
                <a [ngClass]="isActiveMenu === menu.title ? 'expanded' : ''"
                  (click)="handleOpenSubMenu(menu.title); $event.stopPropagation()">
                  {{ menu.title }}
                  <i class="fa-regular fa-angle-right dropdown-toggle-btn"
                    [ngClass]="isActiveMenu === menu.title ? 'dropdown-opened' : ''"></i>
                </a>
              </ng-container>
              <!-- Alternative content if there are no sub_menus -->
              <ng-template #noSubMenus>
                <a [routerLink]="menu.link" [queryParams]="{ category: menu.title.toLowerCase() }"
                  [ngClass]="isActiveMenu === menu.title ? 'expanded' : ''">
                  {{ menu.title }}
                </a>
              </ng-template>
              <ul [ngClass]="['tp-submenu',isActiveMenu === menu.title ? 'active' : '']">
                <li *ngFor="let subMenu of menu.sub_menus">
                  <a [routerLink]="subMenu.link">{{ subMenu.title }}</a>
                </li>
              </ul>
            </li>
            <li *ngIf="!menu.sub_menu && !menu.home_pages">
              <a [routerLink]="menu.link">{{menu.title}}</a>
            </li>
          </ul>
        </nav>

        <!-- mobile menus end -->
      </div>
    </div>
  </div>
</div>

<div (click)="utilsService.handleOpenMobileMenu()"
  [ngClass]="['body-overlay', utilsService.openMobileMenus ? 'opened' : '']"></div>