<app-header></app-header>

<main>
  <section class="breadcrumb__area include-bg text-center pt-95 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div class="breadcrumb__content p-relative z-index-1">
            <h3 class="breadcrumb__title">Моят профил</h3>
            <div class="breadcrumb__list">
              <span><a href="/home">Начало</a></span>
              <span>Моят профил</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tp-login-area pb-140 p-relative z-index-1 fix">
    <div class="tp-login-shape">
      <img class="tp-login-shape-1" src="/assets/img/login/login-shape-1.png" alt="">
      <img class="tp-login-shape-2" src="/assets/img/login/login-shape-2.png" alt="">
      <img class="tp-login-shape-3" src="/assets/img/login/login-shape-3.png" alt="">
      <img class="tp-login-shape-4" src="/assets/img/login/login-shape-4.png" alt="">
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8">
          <div class="tp-login-wrapper">
            <div class="tp-login-top text-center mb-30">
              <h3 class="tp-login-title">Вход в Tek.</h3>
              <p>Нямаш създаден профил? <span>
                <a routerLink="/pages/register">Направи си безплатен акаунт</a>
               </span>
             </p>
            </div>
            <div class="tp-login-option">
              <div class="tp-login-mail text-center mb-40">
                <p>или влез с Email и парола</p>
              </div>
              <app-login-form></app-login-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
